/* *{
    padding: 0px;
    margin: 0px;
    list-style: none;
    /* border: black 1px solid; */
} */

html,body{
    width: 100%;
    height: 100%;
    background-color:rgb(42, 41, 71);
}

.card{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 0px;
}

.photo{
    width: 100%;
}

.nav-link{
    letter-spacing: 3px;
}

.banner{
    height: 720px;
}

.profile_Card{
    width: 100%;
}

.full{
    position: relative;
    box-sizing: border-box;
}

.tag_facebook{
    position: fixed;
    bottom: 140px;
    right: 50px;
    
    width: 70px;
    height: 70px;
    background-color:rgb(22, 41, 71);
    border-radius: 50%;
}

.tag_mail{
    position: fixed;
    bottom: 30px;
    right: 50px;
    
    width: 70px;
    height: 70px;
    background-color:rgb(22, 41, 71);
    border-radius: 50%;
}

.icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.nav_meun{
    padding: 0px 15px;
}

/* -----content----- */
.content_box{
    margin: 15px 30px;
}

.box{
    margin: 50px;
}


.content_sm_box{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 8px;
    margin: 0px 0px;
    transform: translateX(-25px)
}

.smalltext{
    margin: 0px 30px;
    transform: translateX(-25px)
}

.box{
    background-color: tomato;
    padding: 15px;
}

.level2{
    /* border: 1px black solid; */
    height: 100%;
    position: relative;
}

.level3{
    height: 100%;
    /* background-color: teal */
}

.box .h2{
    font-size: 72pt;
}

.h1024{
    height: 720px;
}

.content_banner{
    width: 90%;
    /* max-width: 720px; */
    padding: 30px;
}

/* --------------index-------------- */
.hero_banner{
    width: 100%;
    /* max-width: 500px; */
}

.web_cover{
    top: 0;
    left: 0;
}

.content_part{
    /* display: flex; */
    background-color:rgb(42, 41, 71);
}
